__pycache__/
*.py[cod]
.DS_Store

.venv/
venv/
env/

.cache/
.mypy_cache/
.pytest_cache/
.ruff_cache/

.streamlit/
experiments/

*.wpilog
data/
outputs/
logs/*/*.wpilog
logs/*/results/*
!logs/*/results/results.json

results.local.json
results_*.json

battery_health_config.local.json
battery_results_app_config.local.json

# Vscode
.devcontainer/
.omx/
